*.pyc
.vscode
temp*
outputs*
debug*
log*
view*
wandb*
*.bak
data
*build/*
*__pycache__*
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.so
simple_knn.egg-info
diff_rasterization/third_party/glm/doc
submodules/diff-gaussian-rasterization/third_party/glm/doc
*v1.*
*v2.0*
ignores
